* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
}

html {
  background: white;
}

/********************/
/* WARNING: header */
/******************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo1 img {
  width: 85%;
}

.logo:hover {
  background-image: url(../algorave1.gif);
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

a {
  color: #34495e;
  text-decoration: none;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.main-nav a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  color: #34495e;
}

.main-nav li {
  font-size: 200%;
  display: flex;
  justify-content: center;
  padding: 5%;
}

.main-nav a:hover {
  color: #718daa;
}

.header {
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/************************/
/* WARNING: début main */
/**********************/

.link a{
  font-size: 300%;
  display: flex;
  justify-content: center;
  background-color: yellow;
  transition: 2s;
}

.link:hover  a {
  color:violet;
  font-style: italic;
  background-color: lightblue;
}

.main1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main1 img {
  width: 300px;
  padding: 1%;
  margin: 1%;
}

.title {
  font-size: 200%;
  text-align: center;
  margin: 1%;
  background-color: black;
  color: white;
  font-size: 120px;
}
